.card{
  &__img{
    min-width: 204px;
    height: 272px;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    max-height: 437px;
    min-height: 437px;
  }
  &__prices{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  &__price{
    @include text(500, 0, 24px, white)
  }
  &__disc{
    @include text(500, 0, 18px, #77BE1D);
  }
  &__original{
    @include text(400, 0, 18px, rgba(255, 255, 255, 0.2))
  }
  &__title{
    @include text(400, 0, 16px, white);
    margin: 20px 0;
    width: 204px;
  }
  &__chose{
    display: flex;
    align-items: center;
    gap: 20px;
    &-cont{
      display: flex;
      align-items: center;
      gap: 9px;
    }
  }
  &__key{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #3D394A;
    cursor: pointer;
    &-text{
      @include text(500, 0, 14px, #747474);
    }
  }
}