.catalog{
  background-color: $black;
  height: 100%;
  min-height: 100vh;
  &__content{
    padding: 80px 0;
    display: flex;
  }
  &__aside{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    &-search{
      width: 100%;
      color: white;
      padding: 14px 20px;
      background-color: $black;
      border: 1px solid #FFFFFF1A;
      border-radius: 10px;
      margin-bottom: 40px;
      &::placeholder{
        color: #606367;
      }
    }
    &-label{
      width: 100%;
    }
    &-select{
      width: 100%;
    }
    &-form{
      display: flex;
      flex-direction: column;
      padding: 15px 5px;
    }
    &-accordion{
      margin-top: 50px;
    }
    &-border{
      border: none !important;
    }
  }
  &__select{
    padding: 14px 20px !important;
    height: 100% !important;
  }
  &__row{
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    &-header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &-cards{
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 60px;
    }
    .card{
      min-width: 204px;
    }
    &-title{
      @include text(700, 0, 36px, white)
    }
  }
  &__select > option{
    color: white;
    background-color: #252036;
  }
  .css-15z24qm >option, .css-15z24qm >optgroup{
    background-color: #252036;
  }
  .pagination {
    margin-top: 50px;
  }
}

.chakra-checkbox__label{
  color: white;
}
.css-1eziwv{
  color: white;
}
.chakra-icon > path{
  fill: #77BE1D;
}
.css-17mg6aq:last-of-type{
  border: none;
}

.css-uttm9k{
  padding: 0 0 0 5px !important;
}
.chakra-accordion__panel{
  padding: 15px 0 0 5px !important;
}

.chakra-checkbox{
  margin: 15px 0 0;
}