.catalog{
  background-color: $black;
  height: 100%;
  min-height: 100vh;
  &__content{
    padding: 80px 0;
    display: flex;
  }
  &__aside{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    &-label{
      width: 100%;
    }
    &-select{
      width: 100%;
    }
  }
  &__row{
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    &-header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &-cards{
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 60px;
    }
    .card{
      min-width: 204px;
    }
    &-title{
      @include text(700, 0, 36px, white)
    }
  }
  &__select > option{
    color: white;
    background-color: #252036;
  }
  .css-15z24qm >option, .css-15z24qm >optgroup{
    background-color: #252036;
  }
}