.home{
  background-color: $black;
  padding: 40px 0 80px;
  &__swiper{
    user-select: none;
    &-row{
      display: flex;
      justify-content: center;
      padding: 40px 0;
      background-color: $black;
      height: 700px;
      .home__swiper-img {
        object-fit: cover;
        border-radius: 20px;
      }
      .home__swiper-title {
        @include text(800, 0, 48px, white);
        width: 100%;
        text-align: left;
      }
    }
    &-logo{
      position: absolute;
      left: 120px;
      top: 176px;
      width: 221px;
      &-img{
        width: 221px;
      }
    }
    &-desc{
      position: absolute;
      left: 4%;
      bottom: 4%;
      background: #000000d1;
      padding: 10px 20px;
      border-radius: 16px;
    }
    &-description{
      @include text(400, 38px, 24px, white);
      text-align: start;
      width: 592px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
    &-prices{
      display: flex;
      align-items: center;
      margin: 40px 0;
      gap: 19px;
    }
    &-price{
      @include text(800, 0, 32px, white);
    }
    &-discount{
      @include text(800, 0, 20px, #77BE1D);
    }
    &-original{
      @include text(600, 0, 20px, rgba(255, 255, 255, 0.3));
    }
    &-btns{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-btn{
      background-color: white;
      @include text(600, 0, 18px, black);
      padding: 23px 40px 27px;
      border-radius: 15px;
      &:hover{
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
        -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
        transform: scale(1.05);
      }
      &:last-of-type{
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
    &-link{
      width: 100%;
      padding: 25px 0 28px;
      border: 1px solid #FFFFFF1A;
      border-radius: 15px;
      text-align: center;
      color: #366EDC;
    }
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    &-title{
      @include text(600, 0, 32px, white);
      margin: 80px 0 20px;
    }
  }
  &__card{
    display: flex;
    flex-direction: column;
    &__new{
      position: absolute;
      padding: 7px 15px 10px 15px;
      background-color: #FF4C00;
      border-radius: 8px;
    }
    &-image{
      width: 620px;
      height: 319px;
      border-radius: 15px;
      cursor: pointer;
      object-fit: cover;
    }
    &-title{
      margin: 20px 0;
      cursor: pointer;
      @include text(400, 0, 16px, white);
    }
    &-btns{
      display: flex;
      gap: 20px;
    }
  }
  &__doubleSwipe{
    padding: 40px;
    width: 620px;
    height: 360px;
    display: flex;
    position: relative;
    margin: 90px 0 80px;
    border-radius: 15px;
    background: url("../assets/card1.png") center/cover no-repeat;
    &-title{
      @include text(800, 0, 36px, white);
      width: 379px;
      text-align: start;
      z-index: 5;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &-prices{
      display: flex;
      column-gap: 20px;
      align-items: center;
      margin: 20px 0 80px;
    }
    &-price{
      @include text(800, 0, 24px, white);
    }
    &-discount{
      @include text(800, 0, 20px, #FFE817)
    }
    &-original{
      @include text(600, 0, 20px, #FFFFFF80)
    }
    &-btns{
      display: flex;
      column-gap: 5px;
    }
    &-btn{
      padding: 18px 40px;
      @include text(800, 0, 18px, white);
      background-color: #FFFFFF1A;
      border-radius: 10px;
      &:last-of-type{
        background-color: transparent;
        @include text(600, 0, 18px, white);
      }
      &:hover{
        transform: scale(1.05);
        background-color: white;
        color: #77BE1D;
      }
    }
    &-sec{
      background: url("../assets/card2.png") center/cover no-repeat;
    }
    &-cont{
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 2;
    }
    &-imgCont{
      position: absolute;
      top: -57px;
      right: 10px;
      width: 270px;
      height: 374px;
    }
  }
}
