@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-style: normal;
  transition: .3s all;
  font-family: 'Manrope', sans-serif;
  list-style-type: none;
}

button, input{
  cursor: pointer;
  &::-ms-clear {
    display: none !important;
  }
}

$black: #06030F;

@mixin text($fw, $lh, $fz, $col){
  font-weight: $fw;
  @if $lh > 0 {
    line-height: $lh;
  }
  font-size: $fz;
  color: $col;
}

body {
  background-color: #06030F !important;
}

.container{
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.outlet{
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 300px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #252525;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.8s ease-in-out;
  &__text {
    font-weight: 600;
  }
  &__close {
    font-size: 25px;
  }

  &.active {
    top: 40px;
  }

  &.success {
    background-color: #77BE1D;
  }

  &.error {
    background-color: #FF4D4D;
  }

  &.info {
    background-color: #1D8BFF;
  }

  &.alert {
    background-color: #ffd205;
  }
}

@import "header";
@import "home";
@import "swiper";
@import "basket";
@import "favorite";
@import "card";
@import "catalog";
@import "product";
@import "register";
@import "form";
@import "switchLang";
@import "order";
@import "checkout";
@import "pagination";
@import "footer";