@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-style: normal;
  transition: .3s all;
  font-family: 'Manrope', sans-serif;
}

button, input{
  cursor: pointer;
}

$black: #06030F;

@mixin text($fw, $lh, $fz, $col){
  font-weight: $fw;
  @if $lh > 0 {
    line-height: $lh;
  }
  font-size: $fz;
  color: $col;
}

.container{
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "header";
@import "home";
@import "swiper";
@import "basket";
@import "card";
@import "catalog";
@import "switchLang";