.switchLangs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 76px;
  height: 40px;
  border-radius: 8px;
  background: #100D18;
}

.switchLangBtn {
  width: 131px !important;
  height: 30px !important;
  transition: all 0.2s;
  color: white;
  border-radius: 5px;
  background: none;
  background: #100D18;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  font-style: normal;
  padding: 3px 47px 5px 10px;
  &:hover{
    background: #77BE1D !important;
  }
}

.switchLangBtn.active {
  border-radius: 6px;
  background: #77BE1D !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}
.chakra-popover__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px !important;
}
.chakra-popover{
  &__content{
    width: 141px !important;
    height: 66px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100D18 !important;
    border: none !important;
  }
  &__arrow{
    background-color: #100D18 !important;
    box-shadow: none !important;
  }
}

.chakra-button{
  background-color: #100D18 !important;
}